# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# Builds / outputs
dist/
build/
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# OS junk
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Logs
logs/
*.log
src/utils/logger.ts

# Coverage / testing
coverage/
.nyc_output/

# Temporary files
tmp/
temp/
